@font-face {
  font-family: "Batman";
  src: url(../fonts/batmfa__.ttf);
}

@font-face {
  font-family: "Neue";
  src: url(../fonts/NeueMontreal-Regular.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #112337;
}

/*----------BARRE DE NAVIGATION---------*/
header {
  background: #112337;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

nav {
  height: 80px;
  line-height: 80px;
  background-color: #112337;
  font-family: "Batman", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1dd8ec;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  height: 100%;
}

li {
  align-self: center;
  padding: 0 25px;
}

a {
  text-decoration: none;
  color: white;
  padding: 26.75px 0;
}

li:hover {
  background: #1dd8ec;
  transition: 0.7s;
}

li:active {
  transform: scale(1.02);
}

li:hover a {
  color: #112337;
  transition: 0.7s;
}

li:nth-child(3):hover {
  background: none;
}

img#logo {
  width: 100px;
  height: 100px;
  position: relative;
  top: 55px;
  transition: transform 0.7s cubic-bezier(0.23, 1.83, 0.42, 1.19);
}

img#logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#header-img {
  background: url(../img/headerimg.webp) no-repeat center;
  height: 80vh;
  width: 100%;
}

/* Burger Menu */
nav #burger {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav #burger .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: white;
  transition: 0.7s;
}

header input {
  display: none;
}

input:checked ~ nav ul {
  transform: translateY(0);
}

input:checked ~ nav #burger .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.7s;
}

input:checked ~ nav #burger .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav #burger .bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: 0.7s;
}

/*-------------MAIN----------------*/

main {
  color: white;
  font-family: "Neue";
  font-size: 1em;
}

main h1 {
  font-family: "Batman";
  font-size: 3em;
  margin: 25px 40px;
  padding: 0 40px;
  border-left: 3px solid #1dd8ec;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
}

.presentation img {
  height: 250px;
  border-radius: 25px;
}

.presentation p {
  text-align: justify;
  width: 40%;
  border-left: 5px solid #1dd8ec;
  padding-left: 40px;
}

/*-------------FOOTER--------------*/
footer {
  font-family: "Neue", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #112337;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-top: 3px solid #1dd8ec;
}

h3 {
  font-size: 1.7em;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#contact .form {
  margin: 10px 0;
}

#contact .form-ux {
  color: white;
  background: #112337;
  border: 2px solid #1dd8ec;
}

.form-ux::placeholder {
  color: rgb(197, 194, 194);
}

textarea {
  resize: none;
}

#contact #button {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: #112337;
  border: 2px solid #1dd8ec;
  padding: 5px;
  cursor: pointer;
}

#contact #button:hover {
  background: #1dd8ec;
  color: #112337;
  transition: 0.7s;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#information h3 {
  margin-bottom: 20px;
}

#information p {
  margin: 7px 0;
}

#reseaux {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#reseaux img {
  width: 65px;
  height: 65px;
  cursor: pointer;
}

#reseaux div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0;
}

@media screen and (max-width: 1140px) {
  /* Barre de navigation */
  nav {
    flex-direction: column;
    z-index: 1;
  }

  nav ul {
    flex-direction: column;
    position: relative;
    top: 60px;
    background: #112337;
    width: 100%;
    height: 200px;
    transform: translateY(-300%);
    transition: 0.7s;
    margin-bottom: -1px;
  }

  nav #border {
    border-bottom: 3px solid #1dd8ec;
    position: relative;
  }

  nav ul li {
    height: 400px;
    width: 100%;
    text-align: center;
  }

  nav div {
    order: -1;
    position: absolute;
    left: 50px;
    bottom: -25px;
  }

  nav #burger {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    right: 75px;
  }

  input:checked ~ nav div img {
    display: none;
  }

  /* Main */
  main h1 {
    font-size: 1.5em;
  }

  .presentation {
    flex-direction: column;
  }

  .presentation img {
    width: 85%;
    height: auto;
  }

  .presentation p {
    align-items: center;
    width: 90%;
    margin-top: 15px;
  }

  .presentation #ordre {
    order: -1;
  }

  /* Footer */
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer div {
    margin: 30px 0;
  }
}
